<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>s c o t t</title>
        <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href={{url_for('static', filename="css/main.css")}}>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
                <h1 class="title">s c o t t c</h1>
                <div id="navcontainer">
                    <ul>
                        <li>
                            <a href="#" id="current" id="active">All Posts</a>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>

                        <li>
                            <div id="login-button">
                            <!-- Show log in/log out button. -->
                            {% if not session.logged_in %}
                            <a href="#">Log in</a>
                            {% else %}
                            <a href="{{ url_for('logout') }}">log out</a>
                            {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
        </div>

        <div class="main-container">

            <div class="main wrapper clearfix">
 
                <div class="flashed-messages">
                {% for message in get_flashed_messages() %}
                    <div class=flash>{{ message }}</div>
                {% endfor %}
                </div>

                {% if session.logged_in %}

                <div id="add-post-button">
                    <a href="#">Add Post</a>
                </div>

                <div id="add-post-form">
                    <form action="add-post">
                        <dl>
                            <dt>Title:</dt>
                            <dd><input id="add-post-title" type="text" name="title"></dd>
                            <dt>Content: </dt>
                            <dd><input id="add-post-content" type="text" name="content"></dd>
                        </dl>
                    </form>
                </div>

                {% endif %}

                <div id="login-form">
                    <aside>
                        <form action="{{ url_for('login') }}" method=post>
                            <dl>
                                <dt>Username:</dt>
                                <dd><input type=text name=username></dd>
                                <dt>Password:</dt>
                                <dd><input type=password name=password></dd>
                                <dd><input type=submit value=Login></dd>
                            </dl>
                        </form>
                    </aside>
                </div>

                <div id="error-notifications">
                    {% if error %}
                    <h2 class=error><strong>Error:</strong> {{ error }}</h2>
                    <p>Sorry.</p>
                    {% endif %}
                </div>

                 {% block body %}

                 {% endblock %}
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Scott Cunningham, 2014</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write(<script src={{url_for('static', filename="js/vendor/jquery-1.11.0.min.js")}}></script>

        <script src={{url_for('static', filename="js/main.js")}}></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
</html>
