<!DOCTYPE html>
<html>
    <head>
        <title>BLOGGINATOR</title>
    </head>

    <body>
        <header>
            <div class="app-name">BLOGGINATOR</div>
        </header>

        <div id="posts">
            <!-- Notification messages. -->
            <div>
                {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
                {% endfor %}
            </div>

            <!-- Show log in/log out button. -->
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
            {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
              {% endif %}

            <!-- If logged in, show "Add Post" button. -->
            {% if session.logged_in %}
            <button id=show_add_item>Add post</button>
            <div id="add-post">
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    <dl>
                        <dt>Title:
                        <dd><input type=text size=30 name=title>
                        <dt>Text:
                        <dd><textarea name=text rows=5 cols=40></textarea>
                        <dd><input type=submit value=Share>
                    </dl>
                </form>
            </div>
            {% endif %}

            {% block body %}

            {% endblock %}
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>

</html>
